.container {
    width: 800px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 20px;

}

h1 {
    margin-bottom: 20px;
    margin-left: 30%;
}

img.octocat {
    height: 200px;
    border-radius: 50%;
}

.uno, .dos, .tres{
    display: flex;
    background-color: #fff;
    margin: 20px;
    padding: 20px;
}

.uno {
    background-color: lightpink;
    justify-content: center;
}

.dos {
    background-color: cyan;
    justify-content: space-between;
}

.tres{
    background-color: whitesmoke;
    justify-content: space-around;
}
p {
    text-align: center;
}